@charset "utf-8";
/*--****************************************



@top



*****************************************--*/
#top{
	display:none;
}

#main{
	position:relative;
}

#main-container{
	position:absolute;
	z-index:3;
}

#ttl{
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
}


#top-navi{
	position:absolute;
	z-index:1;
	top:438px;
	left:33px;
	width: 552px;
}

#top-navi li{
	float:left;
	margin:0 28px 0 0;
}

#top-navi li a{
	display:block;
	width:248px;
	height:44px;
	overflow:hidden;
}

#top-navi li a:hover img{
	margin-top:-44px;
}




#footer{
	background:#000;
	background:rgba(0,0,0,0.9);
	width:100%;
	position:absolute;
	z-index:2;
	bottom:0px;
	left:0px;
}

#footer-inner{
	width:1024px;
	margin:0 auto;
	text-align:center;
}

#billing{
	padding:15px 0 20px 0;
}


#bg-container{
	position:absolute;
	z-index:0;
	top:0px;
	left:0px;
	overflow:hidden;
}
#bg{
	position:absolute;
	z-index:0;
}

